@model IEnumerable<RosondVehicleLeasing.Models.Driver>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenseExpiry)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseExpiry)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DriverId }, new { @class = "btn btn-primary btn-sm" })) |
            @Html.ActionLink("Details", "Details", new { id=item.DriverId }, new { @class = "btn btn-info btn-sm" })) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DriverId }, new { @class = "btn btn-danger btn-sm" }))
        </td>
    </tr>
}

</table>
