@model IEnumerable<RosondVehicleLeasing.Models.Branch>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BranchId }, new { @class = "btn btn-primary btn-sm" })) |
            @Html.ActionLink("Details", "Details", new { id=item.BranchId }, new { @class = "btn btn-info btn-sm" })) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BranchId }, new { @class = "btn btn-danger btn-sm" }))
        </td>
    </tr>
}

</table>
